{% layout "../layout/main.liquid" %}

{% block head %}
    <title>SSG {{ info.content.title }}</title>
{% endblock %}

{% block mainContent %}
    <div class="page-con">
        <div class="page-con__wrapper">
            <header class="page-con__header">
                <h1>{{ options.title }}</h1>
                <p>{{ options.subtitle }}</p>
            </header>
            <section class="page-con__main info-single">
                <h2>
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M109.3 288L480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288z"/></svg>
                        {{ info.content.title }}
                    </a>
                </h2>
                <div class="markdown">
                    {{ info.content.markdown | markdown  }}
                </div>
            </section>
            <footer class="page-con__footer">
                <p>version {{ options.version }}</p>
            </footer>
        </div>
    </div>    
{% endblock %}
