{% layout "../layout/main.liquid" %}

{% block head %}

    <title>{{ project.data.title }} | William Yallop</title>
    <meta name="description" content="{{ project.data.summary }}">
    <meta name="twitter:title" content="{{ project.data.title }} | William Yallop">
    <meta name="twitter:description" content="{{ project.data.summary }}">
    <meta property="og:title" content="{{ project.data.title }} | William Yallop">
    <meta property="og:description" content="{{ project.data.summary }}">

    <!-- schema for a single project example -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Project",
        "name": "{{ project.data.title }}",
        "description": "{{ project.data.summary }}",
        "url": "{% if project.data.preview %}{{ project.data.preview }}{% else %}{{ project.data.npm }}{% endif %}",
        "image": "{{ project.data.images.thumbnail }}",
        "author": {
            "@type": "Person",
            "name": "William Yallop"
        },
        "dateCreated": "{{ project.data.date_created }}", 
        "dateModified": "{{ project.data.date_modified }}",
        "datePublished": "{{ project.data.date_published }}",
        "keywords": "{{ project.data.technologies }}"
    }
    </script>

{% endblock %}

{% block mainContent %}
    <!-- Section Header -->
    {% include '../components/project-hero.liquid' %}
    <!-- Textarea -->
    {% include '../components/project-textarea.liquid' %}
    <!-- Gallery -->
    {% include '../components/project-gallery.liquid' %}
{% endblock %}
